html, body {
    height: 100%;
}

#chat-container{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 0.5rem;
}

#message-view-box{
    flex: 1;
    min-height: 90%;
}

.message-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.25rem;
    padding: 0.5rem 0;
}

.message-body{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}